@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Goldman&family=Nova+Mono&family=Outfit&family=Public+Sans&family=Seaweed+Script&family=Chakra+Petch:wght@300;400;500&display=swap');

body, html {
    margin: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
  }

button {
    font-weight: bold;
    font-size: 2em;
    border: none;
    border-radius:1cap;
    background: none;
    font-family: 'Outfit', monospace;
    text-align: center;
    cursor: pointer;
}

.lets-go-button:focus, .lets-go-button:hover{
    background-image: linear-gradient(to right, #54ded7, #008d92);
    box-shadow: 0 2px 5px 0 #c2c2c2;
}

.lets-go-button {
    margin: 2%;
    padding: 0.5em 1em;
    font-weight: bold;
    font-size: 2em;
    color: #ffffff;
    text-align: center;
    background-color:#2B7299;
    transition: all .4s ease-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.font-button {
    color: #2B7299;
}

.font-button:focus, .font-button:hover{
    color: #3ea5a0;
    border: 2px solid #83b5c4;
    transition: color .5s;
    transition: all .4s ease-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

header {
    color: white;
    position:fixed;
    left:0px;
    top:0px;
    height:150px;
    width:100%;
    display: flex;
    justify-content: center;
    box-shadow: 0 .5px 5px 0 #0f0f0f;
    padding-bottom: 1em;
}

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:150px;
    width:100%;
    background-color: #2B7299;
    padding: 20px;
    margin-top: 2.5%;
    display: flex;
    justify-content: center;
}

#canvas {
    position:absolute;
    left:0;
    z-index:-1;
    width: 100vw;
    height: calc(100vh - 300px);
}

h1 {
    font-family: 'Goldman', sans-serif; 
    font-weight: 500;
    font-size: 40pt;
    padding: 40px 0 0 0;
    z-index: 2;
}

h2 {
    z-index: 2;
    opacity: 100%;
    font-size: 16pt;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 0%;
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
}

.career-choice {
    position:fixed;
    top: 10%;
    font-family: 'Public Sans', monospace;
    font-weight: bolder;
    padding: 2%;
    color: #2B7299;
}

.standard-margin {
    margin: 2%;
}

.center-adjacent{
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dialog-box {
    width: 1200px;
    height: 700px;
    border-radius: 25px;
    background: none;
    z-index: 1;
    display: flex;
    overflow: auto;  
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Public Sans', monospace;
    box-shadow: 0 2px 5px 0 #c2c2c2;
}

.center-scenario{
    background: white;
    color: #2B7299;

}

p{
    z-index: 2;
    opacity: 100%;
    padding: 2.5%;
    font-size: 16pt;
    font-family: 'Public Sans', monospace;
    font-weight: 300;
}

.career-prompt{
    font-family: 'Public Sans', monospace;
    font-size: 18pt;
}

.career-text{
    font-family: 'Public Sans', monospace;
    font-size: 10pt;
    padding: 2%
}

#prompt:focus{
    outline: none !important;
    border: 2px solid #83b5c4;
}

.game-options {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

.optionBtn {
    margin-bottom: 3%;
    padding: 4px;
    width: 600px;
    height: 45px
}

/* .optionBtn:active{
    background: linear-gradient(to right, #009245, #4D9C41, #54DE5D);
    transition: all .5s ease-in;
} */

.chatGPTResp {
    overflow: hidden;
}

.logo{
    height: auto;
    width: 100px;
    left: 0px;
    right: 0px;
    margin-left: auto;
}

.font-logo-size{
    width: 351px;
    height: 214px;
    margin-top: 2em;
    margin-bottom: 1em;
}

.logo-size{
    max-height: 100%;
    padding-top: 2em;
    padding-bottom: 1em;
}

.fixed {
    position: fixed;
    top: 30%;
}

.bottom {
    position: fixed;
    bottom: 200px;
}

.p-1 {
    padding: 1em;
}

.p-2 {
    padding: 2em;
}

.m-1 {
    margin: 1em;
}

.m-2 {
    margin: 2em;
}

.pt-1 {
    padding-top: 1em;
}

.pl-1 {
    padding-left: 1em;
}

.pl-2 {
    padding-left: 2em;
}

.pt-1 {
    padding-top: 1em;
}

.pb-1 {
    padding-bottom: 1em;
}

img{
    width: auto;
    height: auto;
    left: 0px;
    right: 0px;
    padding-top: 20px;
}

/*scrollbar*/
.scrollbar
{
	float: left;
	height: 700px;
	overflow-y: scroll;
    overflow-x: hidden;
    min-height: 545px;
}

.force-overflow
{
	max-height: 500px;
}

.inline-button-container {
    display: flex;
    align-items: center; /* This ensures vertical alignment if heights differ */
}

#prompt {
    flex-grow: 1; /* Allows the input to grow and take up available space */
    margin-right: 10px; /* Optional: adds some space between input and button */
    height: 75px;
    width: 450px;
    border: 1px solid #9ec1cc; 
    border-radius: 25px; 
    font-family: 'Public Sans', monospace;
    font-size: 22pt;
}

#speechButton {
    flex-shrink: 0; /* Prevents the button from shrinking if the container is too small */
    white-space: nowrap; /* Ensures the button text doesn't wrap */
}

#style-15::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	border-radius: 10px;
}

#style-15::-webkit-scrollbar
{
	width: 10px;
}

#style-15::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #008d92;
}

#typing-effect {
    font-size: 24px;
    font-family: 'Arial', sans-serif;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid black;
    animation: blink-caret 0.75s step-end infinite;
}

/*loading screen*/
#loading-container {
    position: fixed;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 300px;
    height: 300px;
    top: 30%;
    left: 50%;
}

/* .boxes .box:nth-child(1) {
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0);
    -webkit-animation: box1 1s linear infinite;
    animation: box1 1s linear infinite;
}
.boxes .box:nth-child(2) {
    -webkit-transform: translate(0, 100%);
    transform: translate(0, 100%);
    -webkit-animation: box2 1s linear infinite;
    animation: box2 1s linear infinite;
}
.boxes .box:nth-child(3) {
    -webkit-transform: translate(100%, 100%);
    transform: translate(100%, 100%);
    -webkit-animation: box3 1s linear infinite;
    animation: box3 1s linear infinite;
}
.boxes .box:nth-child(4) {
    -webkit-transform: translate(200%, 0);
    transform: translate(200%, 0);
    -webkit-animation: box4 1s linear infinite;
    animation: box4 1s linear infinite;
}

.boxes .box > div {
    background: linear-gradient(to right, #c8b08b, #b89968, #907244);
    --translateZ: 15.5px;
    --rotateY: 0deg;
    --rotateX: 0deg;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #c8b08b, #b89968, #907244);
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    -webkit-transform: rotateY(var(--rotateY)) rotateX(var(--rotateX)) translateZ(var(--translateZ));
    transform: rotateY(var(--rotateY)) rotateX(var(--rotateX)) translateZ(var(--translateZ));
}

.boxes .box > div:nth-child(1) {
    top: 0;
    left: 0;
    background: linear-gradient(to right, #c8b08b, #b89968, #907244);
}
.boxes .box > div:nth-child(2) {
    background: linear-gradient(to right, #c8b08b, #b89968, #907244);
    right: 0;
    --rotateY: 90deg;
}
.boxes .box > div:nth-child(3) {
    background: linear-gradient(to right, #c8b08b, #b89968, #907244);
    --rotateX: -90deg;
}
.boxes .box > div:nth-child(4) {
    background: #DBE3F4;
    top: 0;
    left: 0;
    --translateZ: -90px;
} */

/* Switch styling */
.switch {
    position: fixed;
    top: 170px;
    right: 50px;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2B7299;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* Light Mode (default) */
body {
    background-color: white;
    color: #2B7299;
    transition: background-color 0.3s, color 0.3s;
}

/* Dark Mode */
body.dark-mode {
    background-color: #222222;
    color: white;
}

/* Other elements you want to change in dark mode */
.dark-mode .some-class {
    background-color: #444;
}

@keyframes box1 {
    0%,
    50% {
        transform: translate(100%, 0);
    }
    100% {
        transform: translate(200%, 0);
    }
}

@keyframes box2 {
    0%{
        transform: translate(0, 100%);
    }
    50% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(100%, 0);
    }
}

@keyframes box3 {
    0%,
    50% {
        transform: translate(100%, 100%);
    }
    100% {
        transform: translate(0, 100%);
    }
}

@keyframes box4 {
    0%{
        transform: translate(200%, 0);
    }
    50% {
        transform: translate(200%, 100%);
    }
    100% {
        transform: translate(100%, 100%);
    }
}

@keyframes blink-caret {
    from { border-color: transparent; }
    to { border-color: black; }
}